.wd-kanbas-navigation {
    display: block;
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 100vh!important;
    position: fixed;
    top: 0;
    left: 0;
}
.wd-kanbas-navigation ul{
    display: flex;
    flex-direction: column;
}
.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

.wd-nav-image {
    display: block;
    margin: 0 auto 5px;
    width: 65px;
}

.wd-kanbas-navigation li a .fa {
    display: block;
}
.wd-kanbas-navigation li a .fa-user-circle-o{
    color: white;
}
